<h2>Sign up</h2>
<form action="/users" method="post" enctype="multipart/form-data">
  <div class="">
    <label for="first_name">First Name</label>
    <input type="text" name="user[first_name]" id="first_name">
  </div>

  <div class="">
    <label for="last_name">Last Name</label>
    <input type="text" name="user[last_name]" id="last_name">
  </div>

  <div class="">
    <label for="email">Email</label>
    <input type="email" name="user[email]">
  </div>

  <div class="">
    <label for="password">Password</label>
    <input type="password" name="user[password]">
  </div>

  <div class="form-group">
      <label for="self-face">Your Face</label>
      <input type="file" name="face1" id="self-face" class="form-control-file">
  </div>

  <div class="form-group">
      <label for="ideal-face">Your Ideal Face</label>
      <input type="file" name="face2" id="ideal-face" class="form-control-file">
  </div>
  <input type="submit" value="Submit">
</form>
