
<h2>All registerd faces</h2>
<main class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <% @faces.each do |face_image| %>
      <img src="https://face-matcher-bucket.s3.amazonaws.com/<%= face_image %>">
    <% end %>
  </div>
</main>
